:root {
	--bgcolor: #020306;
	--maincolor: #dfffe9;
	--secondlight: #5bc0be;
	--seconddark: #1c2541;
	--accent: #00a2ff;
}

body,
html {
	margin: 0;
	height: 100svh;
	background-color: var(--bgcolor);
	font-family: "Consolas", "Segoe UI", monospace;
	color: var(--maincolor);
	margin-block-start: 0;
	margin-block-end: 0;
	scroll-behavior: smooth;
	/* scroll-snap-type: y mandatory; */
}

::-webkit-scrollbar {
	display: none;
}

.vid {
	scale: 0.5;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 80px;
	background-color: #ffffff00;
	z-index: 1;
	backdrop-filter: brightness(50%) blur(5px);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: flex;
	align-items: center;
}
.nav-show {
	animation: navappear 200ms ease 0s 1 normal none;
	border-bottom-color: var(--seconddark);
}
.nav-hide {
	animation: navdisappear 200ms ease-in 0s 1 normal none;
	border-bottom-color: transparent;
}
.brainlogo {
	margin: 0 20px;
	color: var(--maincolor);
}
.pages {
	width: max-content;
	margin: auto 20px auto auto;
}
.pages > a {
	color: var(--maincolor);
	text-decoration: none;
	font-size: 1.3em;
	margin: 0 30px;
}
section {
	height: 100svh;
	width: 100qvw;
	display: flex;
	justify-content: center;
	align-items: center;
	/* scroll-snap-align: start; */
}

.hello,
.typed-cursor {
	font-weight: 800;
	font-size: 92pt;
}

.downarrow {
	position: absolute;
	top: 85%;
	left: 50%;
	color: var(--seconddark);
	animation: arrowmove 1s ease-in-out 0.5s infinite alternate-reverse;
}

.layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.skills {
	width: 50svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4em;
	font-weight: bold;
}

.skills-inner {
	width: 35svw;
	height: 80svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.illustrations {
	width: 50svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e0edc5;
}

.illu-inner {
	width: 50svw;
	height: 60svh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.hidden {
	opacity: 0;
}

.showleft {
	animation: fromleft 1.5s ease-out 0s 1 normal none;
	opacity: 1;
}

.fadein {
	animation: fadein 2s ease-out 0s 1 normal none;
	opacity: 1;
}

.fadeout {
	animation: fadein 0.5s ease-in 0s 1 reverse;
	opacity: 0;
}

.icon {
	color: var(--maincolor);
	text-shadow: 0 0 100px var(--maincolor);
}

.icon.fadein {
	animation: hovering 1s ease-in-out 1s infinite alternate, fadein 1s ease-out 0s 1 normal none;
	opacity: 1;
}

.fromdown {
	animation: fromdown 2s ease-out 0s 1 normal;
	opacity: 1;
}

.vertical {
	flex-direction: column;
}

.goldentext {
	background-image: linear-gradient(315deg, #e59f30 0%, #ffdd00 74%);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: bgmove 2s infinite alternate;
	filter: drop-shadow(0 0 20px #ffdd00);
	text-shadow: 0 0 20px #ffdd00;
}

.activities {
	color: var(--accent);
	filter: drop-shadow(0 0 20px var(--accent));
	text-shadow: 0 0 50px var(--accent);
}

.typed-cursor {
	display: none;
}

.gallery {
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}
.gallerylogo {
	width: 25svw;
}
.galleryword {
	font-size: 3em;
	font-weight: bold;
	background-image: linear-gradient(315deg, #e59f30 0%, #ffdd00 100%);
	background-size: 300%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: bgmove 2s infinite alternate;
	filter: drop-shadow(0 0 30px #ffdd00);
	text-shadow: 0 0 50px #ffdd0076;
}

.links {
	justify-content: space-evenly;
}
.links > a {
	color: var(--maincolor);
	transition: all 0.5s;
}
.links > a:hover {
	transform: translateY(-10px);
	filter: drop-shadow(0 20px 20px var(--secondlight));
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	z-index: 9999;
	background-color: var(--bgcolor);
	transform: translateY(-100svh);
	animation: hidecover 3s ease-in-out 0s 1 normal;
}

.iconshow {
	animation: fromdown 1s ease-out 0s 1 normal, fadein 1s ease-in 0s 1 normal;
	opacity: 1;
}

.alert {
	position: fixed;
	width: 100svw;
	bottom: -30px;
	left: 0;
	display: flex;
	justify-content: center;
	animation: alert 2s ease-in-out 0s 1 normal;
	font-size: x-large;
}

@keyframes arrowmove {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(60px);
	}
}
@keyframes fromleft {
	from {
		transform: translateX(-300px);
		filter: blur(10px);
	}

	to {
		transform: translateX(0);
		filter: blur(0);
	}
}
@keyframes fromright {
	from {
		transform: translateX(300px);
		filter: blur(10px);
	}

	to {
		transform: translateX(0);
		filter: blur(0);
	}
}
@keyframes fromdown {
	from {
		transform: translateY(100px);
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		filter: blur(0);
	}
}
@keyframes navappear {
	from {
		border-bottom-color: transparent;
	}
	to {
		border-bottom-color: var(--seconddark);
	}
}
@keyframes navdisappear {
	from {
		border-bottom-color: var(--seconddark);
	}
	to {
		border-bottom-color: transparent;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
		filter: blur(10px);
	}
	to {
		opacity: 1;
		filter: blur(0);
	}
}
@keyframes bgmove {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
@keyframes hovering {
	to {
		translate: 0 -20px;
	}
}
@keyframes hidecover {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100svh);
	}
}
@keyframes alert {
	from {
		transform: translateY(0);
	}
	30%, 70% {
		transform: translateY(-60px);
	}
	to {
		transform: translateY(0);
	}
}